.barranav{
    display: flex;
    gap: 10%;
    align-items: center;
    width: 90%;
    margin-left: 5%;
    justify-content: center;
    box-sizing: border-box;
    z-index: 10000;
    position: fixed;
    top: auto;
    bottom: 15px;
}

.barranavbotones{
    display: flex;
    justify-content: center;
    gap: 20%;
    width: 100%;
    background-color: #4a1d72 !important;
    color: var(--color-marron);
    padding: 15px 25px;
    border-radius: 15px;
}

.barranav a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff !important;
}

.barranav a:hover{
    color: var(--color-blanco);
}

.logocarrito{
    color: var(--color-naranja);
    background-color: var(--color-marron);
    padding: 10px;
    border-radius: 30px;
}

.barranav .link.activo{
    color: #ffffff !important;
}

@media (min-width:1024px) {
    .barranav{
        width: 60%;
        margin-left: 20%;
    }
}
